{% extends "layout.html" %}
{% block content %}
<div class="contents-frame">
<h1>あなたの体って何点か気になりませんか？</h1>
<h2>このアプリケーションの概要</h2>
<p>
  このアプリケーションは、画像認識モデルをCNNを作成し、それを元にあなたの上半身に点数をつけるものです。
</p>

<h2>写真の条件</h2>
<p>
  ・ファイル形式は、jpeg,jpg,png　です。<br>
  ・正面を向いて、上半身の画像を撮影してください(以下の画像を参照)<br>

</p>
<figure>
  <img src="static/images/kanekinn.jpg">
  <figcaption>筋トレYoutuber Kanekin さん　　</figcaption>
</figure>
</div>
<form action="/result" method="post" enctype="multipart/form-data">
  <input type="file" name="image" accept="image/png, image/jpeg, image/jpg">
  <button type="submit">submit</button>
</form>
{% endblock %}
