.contents-frame{
  background-image: url("/static/images/background.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color:white;
}


.contents-frame::before{
  background: inherit;
  content: '';
  filter: blur(5px);
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
}

figure img{
  width:200px;
}
